{% extends "base.html" %}

{% block head %}
<title>{{ posts.len() + urls.len() }} saved</title>
{% endblock %}



{% block content %}
{% if msg.len() > 0 %}
    <mark>{{ msg }}</mark>
{% endif %}
    <h1>Saved {{ posts.len() + urls.len() }}</h1>
    <form action=save-url method=POST>
        <input name=url>
        <button type=submit>Save url</button>
    </form>
    <ul>
    {% for u in urls %}
        <li style=list-style:circle class=post>
            <a href="{{ u.link }}" target=_BLANK class=link>{{ u.title }}</a>
            <br>
            <small><a href="/forget-url/{{ u.id }}" class=save data-keep-scroll-position=true>Forget</a></small>
        </li>
    {% endfor %}

    {% for p in posts %}
        <li style=list-style:disc class=post>
            <a href="/read/{{ p.id }}" target=_BLANK class=link>{{ p.title }}</a>
            <br>
            <small>
                <i>{{ p.feed_title }}</i> ::
                <a href="/toggle-saved/{{ p.id }}?to=saved" class=save data-keep-scroll-position=true>
                    Forget
                </a>
            </small>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
